#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* 
body.light-mode {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: black;
  color: white;
} */


.navbar {
  display: flex;
  justify-content: space-between; /* Ensure space between brand and toggler */
  align-items: center; /* Center items vertically */
}

.navbar-toggler {
  margin-left: auto; /* Push the toggler to the right */
}

.navbar-collapse {
  flex-grow: 0; /* Prevent the collapse from taking up extra space */
}


.navbar-light-mode {
  background-color: transparent; /* Make the navbar background transparent */
}

.navbar-dark-mode {
  background-color: transparent; /* Make the navbar background transparent */
}

.nav-link-light-mode {
  color: black;
}

.nav-link-dark-mode {
  color: rgb(48, 132, 127);
}

.navbar-toggler-icon.light-mode-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler-icon.dark-mode-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-tabs-bg {
  background-color: lightgray; /* Set the background color for the tabs */
  border-radius: 5px; /* Optional: Add some border radius for better appearance */
  padding: 1px; /* Optional: Add some padding */
}

/* .nav-link.highlight-white {
  background: black !important;
  color: white !important;
} */

.nav-link.highlight-white:hover {
  background: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
}
.nav-link.highlight-black:hover {
  background: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
}


/* .nav-link.highlight-black {
  background: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
} */

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .form-control {
  background-color: #333;
  color: white;
}

.dark-mode .btn-outline-secondary {
  border-color: white;
  color: white;
}


/* TABLES  */
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table-dark {
  background-color: #343a40;
  color: #fff;
}

.table-light {
  background-color: #fff;
  color: #000;
}

.table-rounded {
  border-radius: 10px; /* Adjust the value as needed */
  overflow: hidden; /* Ensure the border radius is applied correctly */
}

.list-group-dark .list-group-item {
  background-color: #343a40;
  color: #ffffff;
}


.table-light-bordered {
  border: 1px solid #ccc;
  background: rgb(227, 226, 226);
}

.table-light-bordered th,
.table-light-bordered td {
  border: 1px solid #ccc;
}

/* BALANCE Table */
@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table thead th {
    display: none;
  }

  .table tbody td {
    display: block;
    width: 100%;
    text-align: right;
    border: none;
    position: relative;
    padding-left: 50%;
  }

  .table tbody td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }

  .table tbody td:last-child {
    border-bottom: 1px solid #dee2e6;
  }
}

/* DASHBAORD */
/* Custom styles for mobile compatibility */
@media (max-width: 768px) {
  .summary, .charts, .list-group {
      padding: 10px;
  }

  .btn {
      width: 100%;
      margin-bottom: 10px;
  }

  .list-group-item {
      font-size: 14px;
  }
  /* Goals Progress */
  .goals-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .goals-progress .goal {
    width: 100%;
    margin-bottom: 10px;
  }

  /* Overview Table */
  .overview-table {
    width: 100%;
    overflow-x: auto;
  }

  .overview-table table {
    width: 100%;
    border-collapse: collapse;
  }

  .overview-table th, .overview-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #dee2e6;
  }

  .overview-table th {
    background-color: #f8f9fa;
  }
}

/* GOAL progress bar */
.progress-dark {
  background-color: #eceaea; /* Dark background color */
}

.progress-light {
  background-color: #cbcaca; /* Light background color */
}

.bg-dark {
  background-color: #6d46c1 !important; /* Dark progress bar color */
}

.bg-success {
  background-color: #28a745; /* Light progress bar color */
}

/* goal border */
.goal-container {
  border: 1px solid rgb(163, 161, 161);
  padding: 18px;
  border-radius: 5px;
}


/* INVESTMENTS */
/* Investments.jsx */

@media (max-width: 768px) {
  .table thead {
      display: none;
  }

  .table tbody td {
      display: block;
      width: 100%;
      text-align: right;
      position: relative;
      padding-left: 50%;
  }

  .table tbody td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
  }

  .table tbody td:last-child {
      border-bottom: 1px solid #dee2e6;
  }

  .investment-name-cell {
      text-align: right !important;
  }
}

/* CRYPTOS */
.bitcoin-icon {
  color: #f7931a; /* Bitcoin orange color */
}

.ethereum-icon {
  color: #626295; /* Ethereum dark gray color */
}

.investment-name {
  display: flex;
  justify-content: flex-end;
}
/* PROGRESS BARS */
.custom-progress-height {
  height: 25px; /* Ensure the progress bar fills the height of the progress container */
}
.custom-progress-height .progress-bar {
  height: 100%; /* Adjust the height as needed */
}


.progress {
  height: 30px; /* Adjust the height as needed */
}

.progress-bar {
  height: 100%; /* Ensure the progress bar fills the height of the progress container */
}
/* GOALS */
/* Goals.jsx */

@media (max-width: 768px) {
  .d-flex {
    align-items: center !important;
  }
}

.amounts {
  font-weight: bold;
  color: rgb(20, 137, 183);
  padding: 3px;
  display: inline;
}


/* BUDGET */
@media (max-width: 768px) {
  .responsive-table {
      width: 100%;
      border-collapse: collapse;
  }

  .responsive-table thead {
      display: none;
  }

  .responsive-table tr {
      display: block;
      margin-bottom: 10px;
  }

  .responsive-table td {
      display: block;
      text-align: right;
      position: relative;
      padding-left: 50%;
      border: 1px solid #ddd;
  }

  .responsive-table td::before {
      content: attr(data-label);
      position: absolute;
      left: 10px;
      width: calc(50% - 20px);
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
  }
}

/* THINGS TO HIDE */
.hidden {
  display: none;
}