#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body.dark-mode #root {
  background-color: #121212;
  color: #ffffff;
  /* border: 1px solid #ffffff; */
}

body.light-mode #root {
  background-color: #ffffff;
  color: #000000;
  /* border: 1px solid #000000; */
}

.app-title{
  font-size: 1.2em;
}

.intro{
  font-size: 6em;
}

.subtitle {
  color: white;
  font-size: 0.8em;
}

.metallic-shadow {
  text-shadow: 
    1px 1px 2px #000, 
    0 0 25px #fff, 
    0 0 5px #fff;
}

.start-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.start-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-page-content h1 {
  margin: 0;
  margin-top: -10px;
  width: 100%;
}

.start-page-content h6 {
  margin: 0;
  margin-bottom: 2px;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

/* GLITCG EFFECT */
@keyframes glitch {
  0% {
      clip: rect(42px, 9999px, 44px, 0);
      transform: skew(0.3deg);
  }
  5% {
      clip: rect(12px, 9999px, 60px, 0);
      transform: skew(0.3deg);
  }
  10% {
      clip: rect(82px, 9999px, 90px, 0);
      transform: skew(0.3deg);
  }
  15% {
      clip: rect(56px, 9999px, 78px, 0);
      transform: skew(0.3deg);
  }
  20% {
      clip: rect(32px, 9999px, 40px, 0);
      transform: skew(0.3deg);
  }
  25% {
      clip: rect(72px, 9999px, 80px, 0);
      transform: skew(0.3deg);
  }
  30% {
      clip: rect(42px, 9999px, 44px, 0);
      transform: skew(0.3deg);
  }
  35% {
      clip: rect(12px, 9999px, 60px, 0);
      transform: skew(0.3deg);
  }
  40% {
      clip: rect(82px, 9999px, 90px, 0);
      transform: skew(0.3deg);
  }
  45% {
      clip: rect(56px, 9999px, 78px, 0);
      transform: skew(0.3deg);
  }
  50% {
      clip: rect(32px, 9999px, 40px, 0);
      transform: skew(0.3deg);
  }
  55% {
      clip: rect(72px, 9999px, 80px, 0);
      transform: skew(0.3deg);
  }
  60% {
      clip: rect(42px, 9999px, 44px, 0);
      transform: skew(0.3deg);
  }
  65% {
      clip: rect(12px, 9999px, 60px, 0);
      transform: skew(0.3deg);
  }
  70% {
      clip: rect(82px, 9999px, 90px, 0);
      transform: skew(0.3deg);
  }
  75% {
      clip: rect(56px, 9999px, 78px, 0);
      transform: skew(0.3deg);
  }
  80% {
      clip: rect(32px, 9999px, 40px, 0);
      transform: skew(0.3deg);
  }
  85% {
      clip: rect(72px, 9999px, 80px, 0);
      transform: skew(0.3deg);
  }
  90% {
      clip: rect(42px, 9999px, 44px, 0);
      transform: skew(0.3deg);
  }
  95% {
      clip: rect(12px, 9999px, 60px, 0);
      transform: skew(0.3deg);
  }
  100% {
      clip: rect(82px, 9999px, 90px, 0);
      transform: skew(0.3deg);
  }
}

.glitch {
  position: relative;
  color: white;
  font-size: 2em;
  animation: glitch 1s infinite;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Ensure space between brand and toggler */
  align-items: center; /* Center items vertically */
}

.navbar-toggler {
  margin-left: auto; /* Push the toggler to the right */
}

.navbar-collapse {
  flex-grow: 0; /* Prevent the collapse from taking up extra space */
}


.navbar-light-mode {
  background-color: transparent; /* Make the navbar background transparent */
}

.navbar-dark-mode {
  background-color: transparent; /* Make the navbar background transparent */
}


.navbar-toggler-icon.light-mode-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler-icon.dark-mode-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* TABS BG darkMode-lightMode */
.nav-tabs-bg-light-mode {
  background-color: #17a2b8; 
  border-radius: 6px; 
  padding: 1px; 
}

.nav-tabs-bg-dark-mode {
  background-color: #000000; /* Light mode background color */
  border-radius: 6px; 
  padding: 1px; 
}

.nav-link-light-mode {
  color: rgb(255, 255, 255);
}

.nav-link-dark-mode {
  color: rgb(255, 255, 255);
}

/*  */
.nav-link.highlight-white:hover {
  background: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
}
.nav-link.highlight-black:hover {
  background: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
}


/* .nav-link.highlight-black {
  background: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
} */

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .form-control {
  background-color: #333;
  color: white;
}

.dark-mode .btn-outline-secondary {
  border-color: white;
  color: white;
}


/* TABLES  */
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table-dark {
  background-color: #343a40;
  color: #fff;
}

.table-light {
  background-color: #fff;
  color: #000;
}

.table-rounded {
  border-radius: 10px; /* Adjust the value as needed */
  overflow: hidden; /* Ensure the border radius is applied correctly */
}

.list-group-dark .list-group-item {
  background-color: #343a40;
  color: #ffffff;
}


.table-light-bordered {
  border: 1px solid #ccc;
  background: rgb(227, 226, 226);
}

.table-light-bordered th,
.table-light-bordered td {
  border: 1px solid #ccc;
}

/* BALANCE Table */
@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table thead th {
    display: none;
  }

  .table tbody td {
    display: block;
    width: 100%;
    text-align: right;
    border: none;
    position: relative;
    padding-left: 50%;
  }

  .table tbody td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }

  .table tbody td:last-child {
    border-bottom: 1px solid #dee2e6;
  }
}

/* DASHBAORD */
/* Custom styles for mobile compatibility */
@media (max-width: 768px) {
  .summary, .charts, .list-group {
      padding: 10px;
  }

  .btn {
      width: 100%;
      margin-bottom: 10px;
  }

  .list-group-item {
      font-size: 14px;
  }
  /* Goals Progress */
  .goals-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .goals-progress .goal {
    width: 100%;
    margin-bottom: 10px;
  }

  /* Overview Table */
  .overview-table {
    width: 100%;
    overflow-x: auto;
  }

  .overview-table table {
    width: 100%;
    border-collapse: collapse;
  }

  .overview-table th, .overview-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #dee2e6;
  }

  .overview-table th {
    background-color: #f8f9fa;
  }
}

.dark-mode .overview-table th {
  background-color: #343a40;
  color: #fff;
}






/* GOAL progress bar */
.progress-dark {
  background-color: #eceaea; /* Dark background color */
}

.progress-light {
  background-color: #cbcaca; /* Light background color */
}

.bg-dark {
  background-color: #232c36 !important; /* Dark progress bar color */
}
.bg-light {
  background-color: #e0e2e6 !important; /* Dark progress bar color */
}

.bg-success {
  background-color: #28a745; /* Light progress bar color */
}

/* goal border */
.goal-container {
  border: 1px solid rgb(163, 161, 161);
  padding: 18px;
  border-radius: 5px;
}


/* INVESTMENTS */
/* Investments.jsx */

@media (max-width: 768px) {
  .table thead {
      display: none;
  }

  .table tbody td {
      display: block;
      width: 100%;
      text-align: right;
      position: relative;
      padding-left: 50%;
  }

  .table tbody td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
  }

  .table tbody td:last-child {
      border-bottom: 1px solid #dee2e6;
  }

  .investment-name-cell {
      text-align: right !important;
  }
}

/* CRYPTOS */
.bitcoin-icon {
  color: #f7931a; /* Bitcoin orange color */
}

.ethereum-icon {
  color: #626295; /* Ethereum dark gray color */
}

.investment-name {
  display: flex;
  justify-content: flex-end;
}
/* PROGRESS BARS */
.custom-progress-height {
  height: 25px; /* Ensure the progress bar fills the height of the progress container */
}
.custom-progress-height .progress-bar {
  height: 100%; /* Adjust the height as needed */
}


.progress {
  height: 30px; /* Adjust the height as needed */
}

.progress-bar {
  height: 100%; /* Ensure the progress bar fills the height of the progress container */
}
/* GOALS */
/* Goals.jsx */

@media (max-width: 768px) {
  .d-flex {
    align-items: center !important;
  }
}

.amounts {
  font-weight: bold;
  color: #17a2b8;
  padding: 3px;
  display: inline;
}


/* BUDGET */
@media (max-width: 768px) {
  .responsive-table {
      width: 100%;
      border-collapse: collapse;
  }

  .responsive-table thead {
      display: none;
  }

  .responsive-table tr {
      display: block;
      margin-bottom: 10px;
  }

  .responsive-table td {
      display: block;
      text-align: right;
      position: relative;
      padding-left: 50%;
      border: 1px solid #ddd;
  }

  .responsive-table td::before {
      content: attr(data-label);
      position: absolute;
      left: 10px;
      width: calc(50% - 20px);
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
  }
}

/* THINGS TO HIDE */
.hidden {
  display: none;
}


